.create_recipe input[type="text"] {
  font: inherit;
  border-radius: 5px;
  width: 20rem;
  max-width: 100%;
  padding: 0.5%;
  background-color: rgba(0, 0, 0, 0.032);
  border: 2px solid #0000;
  outline: none;
}

.file_uploader {
  display: none;
}

.file_uploader__custom_button {
  display: block;
  margin: 0 auto 3% auto;
  cursor: pointer;
  border-radius: 5px;
  padding: 5%;
  text-align: center;
  max-width: 60%;
  background: #c285001f;
  color: #c28400;
}

.image_preloader {
  border-radius: 5px;
  padding: 0.5%;
  background-color: rgba(0, 0, 0, 0.032);
}
.image_preloader__img_container {
  width: 20rem;
  height: 16rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image_preloader img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.add_item_in_recipe {
  display: block;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5%;
  margin: 0 auto;
}
.description_container {
  display: flex;
  column-gap: 2%;
}
.description_container input[type="text"] {
  width: 100%;
}
.recipe_title {
  padding: 1% 0.5%;
}
.recipe_step {
  display: flex;
  column-gap: 2%;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.new_recipe_form textarea {
  width: 100%;
  padding: 2%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.032);
  border: 2px solid #0000;
  outline: none;
}
.new_recipe_form textarea:focus,
.new_recipe_form textarea:focus-visible,
.new_recipe_form textarea:target {
  border: 2px solid #aabc03;
}

.recipe_step button,
.ingredient button {
  cursor: pointer;
  align-self: center;
  color: #c28400;
  border: 2px solid rgba(0, 0, 0, 0.032);
  text-shadow: 0px 0px 4px #c285001f;
  border-radius: 5px;
  padding: 1%;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-size: 30px;
  line-height: 55%;
  font-weight: 400;
  font-style: normal;
}

.ingredient {
  display: flex;
  column-gap: 2%;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.ingredient button {
  margin-left: auto;
}

.recipe_step,
.ingredient {
  border-bottom: 2px solid #aabc03;
}

.recipe_step:last-of-type,
.ingredient:last-of-type {
  border-bottom: none;
}

.tag_types_container {
  padding: 2% 0;
  border-bottom: 1px solid #aabc03;
  margin-bottom: 2%;
}
.tag_types_container,
.tag_diet_container,
.tags_container {
  display: flex;
  column-gap: 2%;
}

input[type="checkbox"] {
  display: none;
}
.custom_checkbox {
  border: none;
  cursor: pointer;
  border-radius: 20px;
  display: flex;

  align-items: center;
  background-color: rgba(0, 0, 0, 0.032);
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 1rem;
  transition: all 0.5s;
}

.custom_checkbox:hover {
  background-color: #dbf3004b;
}

input[type="checkbox"]:checked + .custom_checkbox {
  background-color: #aabc03;
  color: white;
}

.checkbox_label {
  /* display: flex; */
  box-sizing: border-box;
}

.success_message {
  text-align: center;
}
