.recipe_title {
  text-align: center;
}
.tags_type {
  display: flex;
  column-gap: 0.5rem;
  margin-bottom: 0.7rem;
}
.tags_type a {
  cursor: pointer;
  border-radius: 2rem;
  border: 2px rgb(54, 125, 255) solid;
  background-color: rgba(54, 124, 255, 0.089);
  padding: 0.5rem;
  box-sizing: border-box;
  transition: 1s all;
  text-decoration: none;
  color: black;
}

.tags_type a:hover {
  border: 2px rgb(0, 128, 255) solid;
  background-color: rgba(54, 124, 255, 0.153);
  box-shadow: 0 0 5px rgb(0, 89, 255);
}
.ingredients_list {
  list-style-type: none;
  padding: 0;
  max-width: 30rem;
}

.ingredients_list li {
  padding: 0.5rem;
}
.ingredients_list li:nth-child(2) {
  background-color: azure;
}
.ingridient_quantity {
  float: right;
}
.recipe_step {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 6px double rgb(0, 0, 0);
}
.recipe_step img {
  max-width: 50%;
  border-radius: 5px;
}
/* comments */
.comments_container {
  margin: 0 1rem;
}
.comment_container {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.445);
  margin-bottom: 1rem;
}
.name_and_date_comment {
  margin: 0;
  background-color: rgba(255, 225, 54, 0.314);
  padding: 1rem;
}
.date_comment {
  float: right;
}
.text_comment {
  margin: 0;
  padding: 1rem;
}

.name_form_comment {
  padding: 1rem 0;
}
.name_form_comment input {
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: 2px solid rgb(169, 169, 169);
  border-radius: 5px;
}
.text_form_comment textarea {
  margin-top: 0.5rem;
  display: block;
  padding: 0.5rem;
  width: 100%;
  height: 4rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid rgb(169, 169, 169);
}
