.recipe_title {
  text-align: center;
}
.tags_type {
  display: flex;
  column-gap: 0.5rem;
  margin-bottom: 0.7rem;
  flex-wrap: wrap;
  row-gap: 0.3rem;
}
.tags_type a {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.032);
  padding: 0.5rem;
  box-sizing: border-box;
  transition: all 0.5s;
  text-decoration: none;
  color: black;
}

.tags_type a:hover {
  background-color: #dbf3004b;
}
.tags_type a:active {
  background-color: #aabc03;
  color: white;
}

.ingredients_list {
  list-style-type: none;
  padding: 0;
  max-width: 30rem;
}

.ingredients_list li {
  padding: 0.5rem;
  display: flex;
}
.ingredient_empty_space {
  flex-grow: 1;
  background-image: url(../../picForStyles/border_picture_03.png);
  background-size: 20%;
  background-position-y: 5px;
  background-repeat: repeat-x;
}

.recipe_step {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 2px solid #aabc03;
}
.recipe_step:last-of-type {
  border-bottom: none;
}

.recipe_step_img_container,
.description_img_container {
  width: 20rem;
  height: 16rem;
  flex: none;
}
.recipe_step img,
.description_img_container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
/* comments */
.comments_container {
  margin: 0 1rem;
}
.comment_container {
  border-radius: 5px;
  box-shadow: 0 0 10px #00000026;
  margin-bottom: 1rem;
}
.name_and_date_comment {
  margin: 0;
  background-color: #c285001f;
  padding: 1rem;
}
.name_and_date_comment a {
  text-decoration: none;
  color: #0000009a;
}
.name_and_date_comment a:hover {
  transition: all 0.5s;
  color: #aabc03;
}
.author_comment {
  color: #0000003f;
}
.date_comment {
  float: right;
}
.text_comment {
  margin: 0;
  padding: 1rem;
}

.name_form_comment {
  padding: 1rem 0;
}
.name_form_comment input {
  border: none;
  border-radius: 5px;
  border: 2px solid transparent;
  background-color: rgba(0, 0, 0, 0.032);
  padding: 1%;
  min-width: 50%;
  outline: none;
  margin-left: 1%;
}
.text_form_comment textarea {
  margin-top: 0.5rem;
  display: block;
  width: 100%;
  height: 4rem;
  box-sizing: border-box;
  border-radius: 5px;

  border: 2px solid transparent;
  background-color: rgba(0, 0, 0, 0.032);
  padding: 1%;

  outline: none;
}

.name_form_comment input:focus-visible,
.text_form_comment textarea:focus-visible {
  border: 2px solid #aabc03;
}

.name_form_comment input:focus,
.text_form_comment textarea:focus {
  border: 2px solid #aabc03;
}
.name_form_comment input:target,
.text_form_comment textarea:target {
  border: 2px solid #aabc03;
}

.recipe_autor a {
  text-decoration: none;
  color: black;
  padding-left: 15px;
  font-weight: 500;
}
.recipe_autor a:hover {
  text-shadow: 0 0 2px #aabc03;
}
.description_container {
  display: flex;
  column-gap: 0.5rem;
}

@media (max-width: 870px) {
  .recipe_step_img_container,
  .description_img_container {
    height: 12rem;
    width: 16rem;
  }
}

@media (max-width: 800px) {
  .recipe_step {
    flex-direction: column;
  }
  .description_img_container {
    margin: 0 auto;
  }
  .recipe_step p {
    margin-bottom: 0;
  }
  .description_container {
    flex-direction: column;
  }
  .description_container p {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .recipe_step {
    margin: 0;
  }
  .comments_container button[type="submit"] {
    padding: 2%;
  }
}

@media (max-width: 600px) {
  .tags_type {
    justify-content: center;
  }
  .description_container p {
    margin: 1em;
  }
  .recipe_container h3 {
    margin: 1em;
  }
  .recipe_step p {
    margin: 1em 1em 0 1em;
  }
  .comments_header {
    margin: 1em;
  }
}
