body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.route_fragment {
  max-width: 1336px;
  padding: 0 15px;
  margin: 0 auto;
}

button[type="submit"] {
  display: block;
  margin: 3% auto;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 1%;
  text-align: center;
  background-color: #aabc03;
  color: white;
  transition: all 0.5s;
}
button[type="submit"]:hover {
  background-color: #738000;
}
